$font-size:15px;
$btn-font-size:20px;
$opacity:1;
$font-color:#000000;

.root{
  height: 100%;
  position: fixed;
  display: flex;
  color:$font-color;
  z-index: 100;
  pointer-events: none;
}

.animeaction{
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.open{
  @extend .animeaction;
  animation-name: Open;
}
.close{
  @extend .animeaction;
  animation-name: Close;
}

.list{
  pointer-events: auto; 
  font-size: $font-size;
  display: flex;
  flex-direction:row;
  background-color: rgb(77, 76, 75);
  list-style: none;
  padding: 0;
  margin: 0;
  li{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    background-color: #7a7a7a;
    border-radius: 0.5em;
    li{
      align-items: center;
    }
    button{
    background-color: #7a7a7a;
    border: 0;
    position: relative;
    &:hover{
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    }
    }
  }
}

.btn{
  pointer-events: auto; 
  font-size: $btn-font-size;
  padding: 3px;
  position: absolute;
  background-color: white;
  color: black;
  border-radius: 1000px;
  border:0;
  &:hover{
    background-color: #000000;
    color: white;
    outline:0;
  }
}

@keyframes Open{
  0%{
    opacity: 0;
    transform: translateX(-100%);
  }
  100%{
    opacity: $opacity;
    transform: translateX(0);
  }
}

@keyframes Close{
  100%{
    opacity: 0;
    transform: translateX(-100%);
  }
  0%{
    opacity: $opacity;
    transform: translateX(0);
  }
}